.employee-popover {
  display: flex;
  align-items: center;
}

.employee-image-popover {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.employee-popover-details {
  flex: 1;
}

.employee-modal-content .employee-image-modal {
  max-width: 150px;
  margin-bottom: 15px;
}
/* Title container and search bar styles */
.title-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
}

.search-bar-container {
  max-width: 300px;
}

.search-bar {
  width: 100%;
}

/* Employee Modal Styles */
.employee-modal-content {
  display: flex;
  align-items: center;
}

.employee-info {
  display: flex;
  align-items: center;
}

.employee-image-modal {
  max-width: 150px;
  max-height: 150px;
  margin-right: 1rem;
}

.employee-details {
  flex: 1;
}
